In [4]:
'''A script to retrieve and prep the patient data into a form ready for preprocessing steps'''

import os.path
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
from control_data import compute_angle_derivs
from sklearn.preprocessing import MinMaxScaler
from patient_data import data_extractor, data_filterer, backlock_remover
from control_data import resampler

In [3]:
'''Run the script'''
# path to local storage directory
backlock_on = False
source_file_path = '/Users/jamesmeyer/University of Bath/Patient Simulator FYP - General/datasets/patient/dr-adlams-data/'

df = data_extractor(source_file_path)

angle_df = data_filterer(df)

no_lock_df = backlock_remover(angle_df, 25000, 51000, backlock_on)


no_lock_df[['back_angle', 'left_angle', 'right_angle']].describe()

Milliseconds                     float64
Backrest Load Cell Force / N     float64
Backrest Angle / Deg             float64
Left Hip Load Cell Force / N     float64
Right Hip Load Cell Force / N    float64
Left Hip Angle / Deg             float64
Right Hip Angle / Deg            float64
Left Knee Angle / Deg            float64
Date                              object
Time                              object
dtype: object
       back_angle  left_angle  right_angle                Date
0            10.0        18.6         5.33 2011-12-01 11:04:05
1            10.3        18.5         4.25 2011-12-01 11:04:05
2            10.6        18.4         4.25 2011-12-01 11:04:05
3            11.0        18.2         4.30 2011-12-01 11:04:05
4            11.4        17.8         4.25 2011-12-01 11:04:05
...           ...         ...          ...                 ...
64183        11.9        10.9        27.80 2011-12-01 11:57:34
64184        11.9        10.9        27.70 2011-12-01 11:57:34
64185        11.8        10.9        27.60 2011-12-01 11:57:34
64186        11.8        10.9        27.60 2011-12-01 11:57:34
64187        11.8        10.9        27.60 2011-12-01 11:57:34

[64188 rows x 4 columns]
back_angle            float64
left_angle            float64
right_angle           float64
Date           datetime64[ns]
dtype: object

         back_angle    left_angle   right_angle
count  38187.000000  38187.000000  38187.000000
mean       9.297321     15.853373     24.712376
std        2.158881      4.295489     15.710972
min        6.020000      3.730000    -10.200000
25%        7.490000     12.300000     10.500000
50%        9.050000     16.000000     24.100000
75%       11.100000     19.400000     40.000000
max       15.400000     29.700000     61.900000

In [7]:
# path to local storage directory
source_file_path = '/Users/jamesmeyer/University of Bath/Patient Simulator FYP - General/datasets/control/sitting-skeleton-txts/'

dest_file_path = '/Users/jamesmeyer/University of Bath/Patient Simulator FYP - General/datasets/control/'

file_save = False

# _ = txt_extract_and_filter(source_file_path, dest_file_path, file_save)
# df = coords_to_angles(dest_file_path, file_save)
resamp_angle_df = resampler(30, 20, dest_file_path, file_save)
resamp_angle_df.describe()

Resampling the data from 30Hz to 20Hz

Resampled 20Hz corresponding angles between skeleton coordinates
      action subject frame  back_angle  left_angle  right_angle
0          1       1     1   35.692594   51.789045    68.605345
1          1       1     2   34.536857   51.499679    68.621091
2          1       1     3   35.005072   51.593061    68.631830
3          1       1     4   34.781000   51.515678    68.641521
4          1       1     5   35.010225   51.551436    68.657079
...      ...     ...   ...         ...         ...          ...
14217     14      10   129   25.135101   51.356291    92.885183
14218     14      10   130   27.397630   49.278682    90.760399
14219     14      10   131   30.722371   52.755649    86.679160
14220     14      10   132   34.124980   46.591635    82.393440
14221     14      10   133   34.266216   56.419170    77.542189

[14222 rows x 6 columns]

         back_angle    left_angle   right_angle
count  14222.000000  14222.000000  14222.000000
mean      32.096763     66.308188     65.784556
std       18.718297     18.507260     20.745979
min       -0.295553      2.338146      2.248692
25%       11.565802     52.391768     50.836504
50%       40.727614     66.439698     66.332489
75%       45.316735     78.284798     80.635848
max      100.667154    178.473911    162.708799